<main>
    <section class="about">
      <h2>About Me</h2>
      <p class="text-align-justify">
        I'm Akash Dilip Shahane, a computer science student who's deeply passionate about technology and creativity.
        Currently I'm pursuing my degree at Smt. Kashibai Navale College of Engineering in Pune. I have a foundation in Java programming.
        Now I am immersing myself in the captivating world of Angular Development.
        Technology truly fascinates, especially the recent advancements in AI. I am eager to explore how AI can shape and drive innovation forward.
        Outside of tech, I love travelling, playing sport and cars.
      </p>
      <br>
      <p class="text-align-justify">{{moreInfo}}</p>
    </section>
    <div class="w-100-p">
        <textarea [(ngModel)]="moreInfo"></textarea>
    </div>
</main>